@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}


.container {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.rendered__todos {
    font-size: 2rem;
    list-style: none;
}

.main__header {
    text-align: center;
    font-size: 3rem;
    margin: 20px;
    font-weight: 700;
}

.notodo__found {
    margin-top: 5rem;
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
    border: 1px solid lightgray;
}

.notodo__found>span {
    font-size: 5rem;
}